stages:
  - test
  - build

variables:
  IMAGE_NAME: "$CI_REGISTRY_IMAGE/hybrid-ai-orchestrator"
  PYTHON_VERSION: "3.11-slim"

test_app:
  stage: test
  image: python:$PYTHON_VERSION
  before_script:
    - python --version
    - pip install --upgrade pip
    - pip install -r requirements.txt
  script:
    - pytest -v

build_image:
  stage: build
  image: docker:25.0.3
  services:
    - docker:25.0.3-dind
  variables:
    DOCKER_DRIVER: overlay2
  before_script:
    - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" "$CI_REGISTRY"
  script:
    - docker build -t "$IMAGE_NAME:$CI_COMMIT_SHORT_SHA" .
    - docker tag "$IMAGE_NAME:$CI_COMMIT_SHORT_SHA" "$IMAGE_NAME:latest"
    - docker push "$IMAGE_NAME:$CI_COMMIT_SHORT_SHA"
    - docker push "$IMAGE_NAME:latest"
  only:
    - main
    - master
